In [1]:
import pandas as pd

In [2]:
d = pd.read_csv('data/after_var_selection.csv', encoding='Latin1', index_col=0)

C:\Users\Patrik\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31062 entries, 0 to 31061
Data columns (total 40 columns):
average_pledge                 31062 non-null float64
backers_count_x                31062 non-null int64
blurb                          31062 non-null object
category_name                  31062 non-null object
category_parent                31062 non-null object
country                        31062 non-null object
created_at                     31062 non-null int64
currency_trailing_code         31062 non-null bool
currency_x                     31062 non-null object
days_duration                  31062 non-null int64
days_preparation               31062 non-null int64
days_remaining                 31062 non-null int64
days_running                   31062 non-null int64
deadline_end                   31062 non-null int64
duration                       31062 non-null int64
end_time                       31062 non-null object
goal_x                         31062 non-null float64
image_url                      21750 non-null object
launched_at                    31062 non-null int64
location_name                  31062 non-null object
location_state                 31055 non-null object
location_type                  31062 non-null object
name_x                         31062 non-null object
percentage_pledged_end_goal    31062 non-null float64
percentage_pledged_goal        31062 non-null float64
percentage_running_duration    31062 non-null int64
pledged_x                      31062 non-null float64
project_id                     31062 non-null int64
scraped_at                     31062 non-null int64
staff_pick                     27493 non-null object
staff_pick_end                 29263 non-null object
state_end                      31062 non-null object
static_usd_rate                31062 non-null float64
url                            31062 non-null object
url_name                       31062 non-null object
urls_url                       31062 non-null object
urls_url_end                   31062 non-null object
usd_goal                       31062 non-null int64
usd_pledged                    31062 non-null float64
video_url                      20608 non-null object
dtypes: bool(1), float64(7), int64(13), object(19)
memory usage: 9.5+ MB

In [4]:
d.head()

,average_pledge,backers_count_x,blurb,category_name,category_parent,country,created_at,currency_trailing_code,currency_x,days_duration,...,staff_pick_end,state_end,static_usd_rate,url,url_name,urls_url,urls_url_end,usd_goal,usd_pledged,video_url
0,57.818182,22,Help SCDT fund their inaugural performance in ...,Performances,dance,US,1444460998,True,USD,34,...,NaN,successful,1.000000,https://www.kickstarter.com/projects/911926086...,sac-contemporary-dance-theatres-performance-re...,https://www.kickstarter.com/projects/911926086...,https://www.kickstarter.com/projects/911926086...,8000,1272.0,https://ksr-video.imgix.net/projects/2127772/v...
1,0.000000,0,This is where inspired dancers from all ages g...,Performances,dance,NL,1444938006,False,EUR,30,...,NaN,failed,1.136392,https://www.kickstarter.com/projects/122127184...,all-style-dance-battle-the-streak,https://www.kickstarter.com/projects/122127184...,https://www.kickstarter.com/projects/122127184...,568,0.0,https://ksr-video.imgix.net/projects/2137299/v...
2,50.000000,1,In our 8th year of equipping students to give ...,Performances,dance,US,1444906983,True,USD,29,...,NaN,failed,1.000000,https://www.kickstarter.com/projects/941718644...,reverb-performing-arts-center-building-fund,https://www.kickstarter.com/projects/941718644...,https://www.kickstarter.com/projects/941718644...,25000,50.0,https://ksr-video.imgix.net/projects/2136543/v...
3,30.000000,1,Verve Collisionz is a hip hop group at the Uni...,Performances,dance,US,1444919408,True,USD,60,...,False,successful,1.000000,https://www.kickstarter.com/projects/64519019/...,verve-collisionz,https://www.kickstarter.com/projects/64519019/...,https://www.kickstarter.com/projects/64519019/...,600,30.0,https://ksr-video.imgix.net/projects/2136760/v...
4,61.200000,5,Verve Collisionz is a hip hop group at the Uni...,Performances,dance,US,1444919408,True,USD,60,...,False,successful,1.000000,https://www.kickstarter.com/projects/64519019/...,verve-collisionz,https://www.kickstarter.com/projects/64519019/...,https://www.kickstarter.com/projects/64519019/...,600,306.0,https://ksr-video.imgix.net/projects/2136760/v...

In [5]:
selected_cols = [
    'category_name',
    'category_parent',
    'country',
    'currency_x',
    'days_duration', # some projects were stopped ?
    'days_preparation',
    'duration', # should use this ? - problem: days_running, days_remaining
    'goal_x',
    'location_name',
    'location_state',
    'location_type',
    'name_x', # length ?
    'percentage_pledged_end_goal', # for classes
    'usd_goal'
]

In [6]:
d[selected_cols].head()

,category_name,category_parent,country,currency_x,days_duration,days_preparation,duration,goal_x,location_name,location_state,location_type,name_x,percentage_pledged_end_goal,usd_goal
0,Performances,dance,US,USD,34,7,34,8000.0,Folsom,CA,Town,"Sacramento Contemporary Dance Theatre ""Resilie...",105.512500,8000
1,Performances,dance,NL,EUR,30,5,30,500.0,Maarssen,Utrecht,Town,Dance Battle The Streak,0.000000,568
2,Performances,dance,US,USD,29,9,29,25000.0,Smithfield,RI,Town,Reverb Performing Arts Center Building Fund,0.280000,25000
3,Performances,dance,US,USD,60,8,60,600.0,Boulder,CO,Town,VeRVE Collisionz,150.666667,600
4,Performances,dance,US,USD,60,8,60,600.0,Boulder,CO,Town,VeRVE Collisionz,150.666667,600

In [7]:
d[selected_cols].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31062 entries, 0 to 31061
Data columns (total 14 columns):
category_name                  31062 non-null object
category_parent                31062 non-null object
country                        31062 non-null object
currency_x                     31062 non-null object
days_duration                  31062 non-null int64
days_preparation               31062 non-null int64
duration                       31062 non-null int64
goal_x                         31062 non-null float64
location_name                  31062 non-null object
location_state                 31055 non-null object
location_type                  31062 non-null object
name_x                         31062 non-null object
percentage_pledged_end_goal    31062 non-null float64
usd_goal                       31062 non-null int64
dtypes: float64(2), int64(4), object(8)
memory usage: 3.6+ MB

# Data pre-processing

## Sampling

## Outlier detection

## Missing values

In [8]:
d[selected_cols][d[selected_cols].isnull().any(axis=1)]

,category_name,category_parent,country,currency_x,days_duration,days_preparation,duration,goal_x,location_name,location_state,location_type,name_x,percentage_pledged_end_goal,usd_goal
3088,Photobooks,photography,US,USD,35,296,35,3500.0,Antarctica,NaN,Country,The White Desert: Wildlife & Antarctica photobook,260.600000,3500
7995,Music Videos,film & video,DE,EUR,41,13,41,3100.0,Skopje,NaN,Town,Music Video Makedonsko Devojce (Jazz Version),1.935484,3497
16857,Fine Art,photography,US,USD,30,200,30,15000.0,Philipsburg,NaN,Town,Oualichi Gold - Caribbean Erotica,0.840000,15000
21519,World Music,music,US,USD,59,0,60,10000.0,Road Town,NaN,Town,New Album Kickstarter,0.010000,10000
30589,Cookbooks,food,AU,AUD,30,277,30,25500.0,Skopje,NaN,Town,Baby Chef-cookbook and app. with healthy recip...,0.000000,20221
30704,Kids,music,MX,MXN,30,0,30,500000.0,Vatican City,NaN,Town,Ni?os otomíes le cantan al Papa Francisco,0.120000,27976
30746,Places,photography,US,USD,30,42,30,1500.0,Antarctica,NaN,Country,Portraits of Place in Antarctica II,213.333333,1500

In [9]:
d.loc[3088, 'location_state'] = 'None'
d.loc[7995, 'location_state'] = 'Macedonia'
d.loc[16857, 'location_state'] = 'Sint Maarten (Dutch part)'
d.loc[21519, 'location_state'] = 'Virgin Islands, U.S. '
d.loc[30589, 'location_state'] = 'Macedonia'
d.loc[30704, 'location_state'] = 'Vatican City'
d.loc[30746, 'location_state'] = 'None'

In [10]:
d[selected_cols][d[selected_cols].isnull().any(axis=1)]

Empty DataFrame
Columns: [category_name, category_parent, country, currency_x, days_duration, days_preparation, duration, goal_x, location_name, location_state, location_type, name_x, percentage_pledged_end_goal, usd_goal]
Index: []

# Feature engineering

## Feature extraction

In [11]:
d['name_chars'] = d['name_x'].apply(lambda x: len(x))
d['name_chars'].value_counts()

60    1173
59     930
58     730
20     706
57     703
25     667
56     665
17     658
21     645
18     635
28     631
16     628
30     621
27     621
24     614
23     613
19     610
31     610
55     599
29     594
39     581
35     581
26     579
54     573
34     572
15     571
32     570
14     570
51     565
33     564
36     554
52     554
22     553
53     553
44     552
38     542
42     540
13     528
48     525
37     518
49     517
47     515
50     512
45     501
41     491
40     487
43     486
46     468
12     432
11     375
10     374
9      342
8      271
7      156
6      142
5       96
4       72
3       25
2        2
Name: name_chars, dtype: int64

In [12]:
d['name_words'] = d['name_x'].apply(lambda x: len(x.split()))
d['name_words'].value_counts()

3     3957
4     3955
5     3686
7     3409
8     3320
6     3315
9     2679
2     2657
10    1719
1     1306
11     728
12     265
13      55
14       9
15       1
17       1
Name: name_words, dtype: int64

In [13]:
selected_cols.remove('name_x')

In [14]:
selected_cols.append('name_chars')
selected_cols.append('name_words')

## Feature transformation

### Categorical variables encoding

In [15]:
import category_encoders as ce

In [16]:
d[selected_cols].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31062 entries, 0 to 31061
Data columns (total 15 columns):
category_name                  31062 non-null object
category_parent                31062 non-null object
country                        31062 non-null object
currency_x                     31062 non-null object
days_duration                  31062 non-null int64
days_preparation               31062 non-null int64
duration                       31062 non-null int64
goal_x                         31062 non-null float64
location_name                  31062 non-null object
location_state                 31062 non-null object
location_type                  31062 non-null object
percentage_pledged_end_goal    31062 non-null float64
usd_goal                       31062 non-null int64
name_chars                     31062 non-null int64
name_words                     31062 non-null int64
dtypes: float64(2), int64(6), object(7)
memory usage: 5.0+ MB

In [17]:
for column in d[selected_cols].select_dtypes(include=['object']):
    print(column, len(d[column].value_counts()), 'distinct values')
    encoder = ce.OrdinalEncoder()
    d[column] = encoder.fit_transform(d[[column]])

category_name 141 distinct values
category_parent 15 distinct values
country 22 distinct values
currency_x 14 distinct values
location_name 4726 distinct values
location_state 609 distinct values
location_type 9 distinct values

In [18]:
d[selected_cols].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31062 entries, 0 to 31061
Data columns (total 15 columns):
category_name                  31062 non-null int32
category_parent                31062 non-null int32
country                        31062 non-null int32
currency_x                     31062 non-null int32
days_duration                  31062 non-null int64
days_preparation               31062 non-null int64
duration                       31062 non-null int64
goal_x                         31062 non-null float64
location_name                  31062 non-null int32
location_state                 31062 non-null int32
location_type                  31062 non-null int32
percentage_pledged_end_goal    31062 non-null float64
usd_goal                       31062 non-null int64
name_chars                     31062 non-null int64
name_words                     31062 non-null int64
dtypes: float64(2), int32(7), int64(6)
memory usage: 4.2 MB

### Discretization

# TODO: decide which borders to use

In [19]:
def get_class(ratio):
    if (ratio >= 120):
        return 4
    elif (ratio >= 100):
        return 3
    elif (ratio >= 10):
        return 2
    else:
        return 1

In [20]:
d['class'] = d['percentage_pledged_end_goal'].apply(get_class)

In [21]:
d['class'].value_counts()

1    12942
4     7121
3     7019
2     3980
Name: class, dtype: int64

In [22]:
selected_cols.remove('percentage_pledged_end_goal')

## Feature selection

# Model training and evaluation

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(d[selected_cols], d['class'], test_size=0.30, random_state=16)

In [24]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21743 entries, 23477 to 6825
Data columns (total 14 columns):
category_name       21743 non-null int32
category_parent     21743 non-null int32
country             21743 non-null int32
currency_x          21743 non-null int32
days_duration       21743 non-null int64
days_preparation    21743 non-null int64
duration            21743 non-null int64
goal_x              21743 non-null float64
location_name       21743 non-null int32
location_state      21743 non-null int32
location_type       21743 non-null int32
usd_goal            21743 non-null int64
name_chars          21743 non-null int64
name_words          21743 non-null int64
dtypes: float64(1), int32(7), int64(6)
memory usage: 1.9 MB

In [25]:
X_train.head()

,category_name,category_parent,country,currency_x,days_duration,days_preparation,duration,goal_x,location_name,location_state,location_type,usd_goal,name_chars,name_words
23477,51,7,20,12,59,0,60,80000.0,2467,163,4,3911,15,3
24378,65,8,0,0,45,0,45,20000.0,2729,0,0,20000,29,4
21091,99,12,0,0,30,3,30,50000.0,2029,28,0,50000,26,4
10779,0,0,0,0,22,11,22,25000.0,201,51,0,25000,29,4
9739,44,6,0,0,60,1,60,4000.0,2447,12,0,4000,8,2

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
from sklearn.svm import LinearSVC

In [28]:
cls = LinearSVC()
cls = cls.fit(X_train, y_train)

In [29]:
confusion_matrix(y_test, cls.predict(X_test))

array([[2304,   27,  287, 1255],
       [ 521,    7,   61,  596],
       [ 840,   12,  117, 1127],
       [ 670,    7,  110, 1378]])

In [30]:
cls.score(X_train, y_train)

0.40449799935611463

In [31]:
cls.score(X_test, y_test)

0.40841291984118466

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
cls = DecisionTreeClassifier(max_depth=5)

In [34]:
cls = cls.fit(X_train, y_train)

In [35]:
confusion_matrix(y_test, cls.predict(X_test))

array([[2864,    0,  506,  503],
       [ 551,    0,  275,  359],
       [ 829,    0,  612,  655],
       [ 604,    0,  454, 1107]])

In [36]:
cls.score(X_train, y_train)

0.49988502046635697

In [37]:
cls.score(X_test, y_test)

0.49179096469578282

In [38]:
from sklearn import tree
import graphviz

In [39]:
dot_data = tree.export_graphviz(cls, out_file=None, feature_names=X_train.columns, class_names=['1','2','3','4'],filled=True, rounded=True, special_characters=True) 
graph = graphviz.Source(dot_data)
graph.render("kickstarter")

'kickstarter.pdf'